.dialog-title {
  font-weight: 600;
}

.dialog-action {
  background-color: transparent;
  border: 1px solid #00494f;
  padding: 8px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
}

.action-confirm {
  background-color: #00494f;
  color: white;
}
