.text-input {
  label {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
  }

  input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;

    &:focus {
      outline: none;
      border-bottom: 1px solid black;
    }
  }

  .error-input {
    border-bottom: 1px solid red;
  }

  p {
    color: red;
    font-size: 1rem;
    margin-top: 5px;
  }
}
