.select {
  width: 40vw;
}

.option {
  display: flex;
  align-items: center;

  img {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
}
