.datatable {
  height: 600px;
  padding: 20px;

  .cell-with-img {
    display: flex;
    align-items: center;

    .cell-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellActions {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }
}

.featured-icon {
  padding: 4px 20px;
  border-radius: 8px;

  &.true {
    background-color: rgba(0, 128, 0, 0.05);
    color: green;
  }
  &.false {
    background-color: rgba(255, 0, 0, 0.05);
    color: crimson;
  }
}
