.section-title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  span {
    font-size: 24px;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: #00494f;
    border: 1px solid #00494f;
    padding: 6px;
    border-radius: 8px;
    transition: 0.3s;
  }

  a:hover {
    color: white;
    background-color: #00494f;
  }
}
